body {
    font-family: Arial, sans-serif;
    background-image: url(https://images.pexels.com/photos/1257860/pexels-photo-1257860.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-size: cover;
    background-position: center;
    height:100vh;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    background-color: azure;
}

.staff-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 50px;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.staff-card {
    width: 250px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 30px;
}

.staff-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid black;
    margin-bottom: 10px;
}

.staff-card h2 {
    margin: 0 0 5px 0;
}

.staff-card p {
    margin: 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}